<div>
  <h2>Login Page</h2>

  <form [formGroup]="loginForm">
    <div>
      <label for="email">Email :</label>
      <input type="text" formControlName="email" id="email" />
      <div
        *ngIf="
          loginForm.controls['email'].invalid &&
          loginForm.controls['email'].touched
        "
      >
        <small>Please enter valid email.</small>
      </div>
    </div>

    <div>
      <label for="password">Password :</label>
      <input type="password" formControlName="password" id="password" />
      <div
        *ngIf="
          loginForm.controls['password'].invalid &&
          loginForm.controls['password'].touched
        "
      >
        <small
          >Password must contain at least one uppercase letter, one digit, and
          one special character.</small
        >
      </div>
    </div>

    <button (click)="onSubmit()">Submit</button>
  </form>
</div>
