<!-- <div class="mainDiv">
  <div>
    <img src="/assets/image/random.jpg" usemap="#image-map" />

    <map name="image-map">
      <area
        target="_blank"
        alt="Plane"
        title="Plane"
        href="https://en.wikipedia.org/wiki/Airplane"
        coords="599,571,675,349,751,576,631,563,684,585,671,504,711,728,613,746"
        shape="poly"
      />

      <area
        target="_blank"
        alt="Tree 1"
        title="Tree 1"
        href="https://en.wikipedia.org/wiki/Tree"
        coords="420,903,443,813,510,800,568,822,586,885,564,938,505,974,456,961"
        shape="poly"
      />
      <area
        target="_blank"
        alt="Tree 2"
        title="Tree 2"
        href="https://en.wikipedia.org/wiki/Pine"
        coords="376,661,434,576,510,617,532,675,523,737,403,755"
        shape="poly"
      />
    </map>
  </div>
  <div>
    <img src="/assets/image/random1.jpg" style="width: 100%; height: auto" />
  </div>
</div> -->

<!-- only the main image -->

<!-- <img src="/assets/image/random.jpg" usemap="#image-map" />

    <map name="image-map">
      <area
        target="_blank"
        alt="Plane"
        title="Plane"
        href="https://en.wikipedia.org/wiki/Airplane"
        coords="599,571,675,349,751,576,631,563,684,585,671,504,711,728,613,746"
        shape="poly"
      />
      <area
        target="_blank"
        alt="Tree 1"
        title="Tree 1"
        href="https://en.wikipedia.org/wiki/Tree"
        coords="420,903,443,813,510,800,568,822,586,885,564,938,505,974,456,961"
        shape="poly"
      />
      <area
        target="_blank"
        alt="Tree 2"
        title="Tree 2"
        href="https://en.wikipedia.org/wiki/Pine"
        coords="376,661,434,576,510,617,532,675,523,737,403,755"
        shape="poly"
      />

      </map> -->

<!-- Alternate solution using SVG -->
<div class="mainDiv">
  <div>
    <svg
      style="width: 100%"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 1400 1050"
    >
      <image xlink:href="/assets/image/random.jpg" style="width: 100%"></image>

      <!-- Airplane polygon and link -->
      <a
        xlink:href="https://en.wikipedia.org/wiki/Airplane"
        target="_blank"
        xlink:title="Airplane"
      >
        <g>
          <polygon
            class="image-mapper-shape"
            data-index="1"
            points="655.461 358.974 624.881 510.541 583.666 571.7 623.552 579.677 599.62 757.835 739.221 725.926 756.505 570.37 700.665 392.213"
          ></polygon>
        </g>
      </a>

      <!-- Tree 1 polygon and link -->
      <a
        xlink:href="https://en.wikipedia.org/wiki/Pine"
        target="_blank"
        xlink:title="Tree 1"
      >
        <g>
          <polygon
            class="image-mapper-shape"
            data-index="1"
            points="425.451 880.152 514.53 779.107 595.632 853.561 523.837 998.481"
          ></polygon>
        </g>
      </a>

      <!-- Tree 2 polygon and link -->
      <a
        xlink:href="https://en.wikipedia.org/wiki/Tree"
        target="_blank"
        xlink:title="Tree 2"
      >
        <g>
          <polygon
            class="image-mapper-shape selected"
            data-index="1"
            points="366.952 675.404 448.053 566.382 529.155 640.836 457.36 785.755"
          ></polygon>
        </g>
      </a>
    </svg>
  </div>
  <div>
    <svg
      style="width: 100%"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 460 360"
    >
      <image
        xlink:href="https://www.asme.org/getmedia/2fa9e107-4e6f-4720-96ae-7f244d82aa71/Coloring-Complex-3D-Printed-Objects_hero.jpg.aspx?width=460&height=360&ext=.jpg"
        style="width: 460px"
      ></image>
      <a
        xlink:href="https://en.wikipedia.org/wiki/Cat"
        target="_blank"
        xlink:title="Cat"
      >
        <g>
          <polygon
            class="image-mapper-shape selected"
            data-index="1"
            points="239 151 182 313 8 293 11 57 58 135 85 143 127 146 160 151"
          ></polygon>
        </g>
      </a>

      <a
        xlink:href="https://en.wikipedia.org/wiki/Zebra"
        target="_blank"
        xlink:title="Zebra"
      >
        <g>
          <polygon
            class="image-mapper-shape"
            data-index="2"
            points="258 192 170 83 174 22 424 96 398 88 346 154 317 188 258 298"
          ></polygon>
        </g>
      </a>

      <a
        xlink:href="https://en.wikipedia.org/wiki/Zebra"
        target="_blank"
        xlink:title="Zebra"
      >
        <g>
          <polygon
            class="image-mapper-shape"
            data-index="2"
            points="455 197 460 328 382 324 367 271 345 219 359 145 433 129"
          ></polygon>
        </g>
      </a>
    </svg>
    <!-- <img src="/assets/image/random1.jpg" style="width: 100%; height: auto" /> -->
  </div>
</div>
