<div class="flex justify-center items-center h-screen">
  <div class="w-80 relative">
    <img
      src="/assets/image/linkedin-logo.png"
      class="h-10 w-10 absolute left-5 -top-4"
    />
    <div
      class="my-2 flex justify-between items-center bg-gray-200 rounded-lg p-5"
    >
      <div>
        <h3 class="font-bold">Sample Name</h3>
        <h5>Sample Designation</h5>
        <h5>My LinkedIn account</h5>
      </div>

      <!-- app.component.html -->
      <div class="relative inline-block text-left">
        <div>
          <button
            (click)="toggleDropdown()"
            class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none"
            id="menu-button"
            aria-expanded="true"
            aria-haspopup="true"
          >
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <div
            id="dropdown"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
          >
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-200"
              aria-labelledby="dropdownDefaultButton"
            >
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Dashboard</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Settings</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Earnings</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Sign out</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div
          *ngIf="isDropdownOpen"
          class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="menu-button"
          tabindex="-1"
        >
          <div class="py-1" role="none">
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
              role="menuitem"
              tabindex="-1"
              id="menu-item-0"
              >Edit</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
              role="menuitem"
              tabindex="-1"
              id="menu-item-1"
              >Delete</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
              role="menuitem"
              tabindex="-1"
              id="menu-item-2"
              >Share</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-end items-end fixed inset-0 p-4">
  <button
    (click)="openModal()"
    class="px-4 py-3 bg-indigo-500 text-white rounded-full hover:bg-indigo-800 focus:outline-none"
  >
    <i class="fa fa-plus fa-lg"></i>
  </button>

  <!-- Overlay -->
  <div *ngIf="isModalOpen" (click)="closeModal()" class="fixed inset-0"></div>

  <!-- Chat Box -->
  <div
    *ngIf="isModalOpen"
    (click)="$event.stopPropagation()"
    class="fixed bottom-0 right-0 bg-white border border-gray-300 shadow-lg h-screen overflow-y-auto"
  >
    <div class="p-4">
      <h1 class="font-bold">Profiles</h1>

      <div
        class="my-1 flex justify-between bg-gray-200 rounded-lg p-5 max-w-md"
      >
        <img src="/assets/image/user-icon.jpg" class="h-20 w-20 rounded-full" />
        <div class="ms-3">
          <h3 class="font-bold">Sample Name</h3>
          <h5>Sample Designation</h5>
        </div>
        <div class="flex gap-x-2">
          <i class="fa fa-eye"></i>
          <i class="fa fa-share"></i>
          <i class="fa fa-edit"></i>
          <i class="fa fa-trash"></i>
        </div>
      </div>
    </div>
  </div>
</div>
